.modal-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw; 
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  overflow-y: auto;      
  scrollbar-gutter: stable;  
  height: 90%;
  width: 45%;
  background: #fff;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  border-radius: 8px;
  animation: fadeInScale 0.25s ease-in-out;
  -webkit-mask-image: -webkit-radial-gradient(white, black); 
  margin-top: 3%;
}

.header {
  border-bottom: 1px solid #ddd;
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header span {
  font-size: 1.2rem;
  font-weight: 600; 
  color: #1976D2;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  letter-spacing: 0.5px;
}

.header button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.form-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-field,
.form-field-text-area {
  display: flex;
  flex-direction: column;
}

.form-field label,
.form-field-text-area label {
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 5px;
}

input, select, textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  font-size: 0.9rem;
}

textarea {
  resize: vertical;
  height:  100%;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: auto;
}

#cancel-btn {
  background: #f0f0f0;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#cancel-btn:hover {
  background: #e0e0e0;
}

#submit-btn {
  background: #1976D2;
  border-radius: 5px;
  height: 40px;
  border: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#submit-btn:hover {
  background: #1565c0;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
