.main-wrapper {
  height: 100vh;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease-in-out;
}

.main-content {
  background: rgb(235, 235, 235);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: margin-left 0.3s ease-in-out;
}

.main-wrapper.side-menu-open .side-bar {
  transform: translateX(0);
}

.main-wrapper.side-menu-open .main-content {
  margin-left: 250px; /* expanded */
}

::ng-deep .ag-header-cell-label {
  white-space: normal !important;
  text-overflow: unset !important;
  line-height: 1.2; /* optional, for tighter header text */
  justify-content: center;
}

.full-width-grid {
  width: 100%;
  height: 100%;
  overflow-x: auto; /* ✅ enables horizontal scrollbar when needed */
}

.ag-grid-content {
  height: 90%;
  width: 95%;
  border-radius: 10px;
  background: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
}

.ag-grid-content h2 {
    text-align: center;
}

.ag-grid {
  padding: 20px;
}

/* Sidebar itself */
.side-bar {
  width: 250px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%); /* hidden */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.side-menu-open .side-bar {
  transform: translateX(0); /* slide in */
}